.header {
  width: 100%;
  max-height: 70px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 10;
  opacity: 0.8;
  transition: 0.3s;
}

.header:hover {
  transition: 0.3s;
  opacity: 1;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header__logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.scandiweb-logo {
  max-height: 60px;
  display: block;
}

.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #de3333;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.nav__item:last-child {
  margin-right: 0;
}

/* ==================    
      adaptive
===================*/

@media screen and (max-width: 1189px) {
  .nav__link {
    font-size: 15px;
  }

  .header {
    max-height: 50px;
  }

  .header__nav {
    max-height: 50px;
  }

  .scandiweb-logo {
    max-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 40px;
  }

  .header__nav {
    max-height: 40px;
  }

  .nav__list {
    position: fixed;
    top: -100%;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }

  .show {
    top: 0;
  }

  .nav__item {
    margin: 30px 0;
    animation: 2s item__surfacing;
  }

  .nav__item:hover {
    text-decoration: underline;
  }

  .nav__link {
    color: #de3333;
    font-size: 22px;
    animation: 2s link__surfacing;
  }

  .scandiweb-logo {
    max-height: 30px;
  }

  .active {
    z-index: 100;
  }
}

/* ==================
      animation
===================*/

.list__surfacing {
  animation: 1.5s list__surfacing;
}

.list__surfacing__back {
  animation: 1.5s list__surfacing__back;
}

@keyframes list__surfacing {
  from {
    height: 10vh;
    width: 10%;
    opacity: 0;
    top: -100%;
  }
  to {
    height: 100vh;
    width: 100%;
    opacity: 1;
    top: 0;
  }
  30% {
    border-bottom-left-radius: 100% 70%;
  }

  100% {
    border-bottom-left-radius: none;
  }
}

@keyframes list__surfacing__back {
  from {
    height: 100vh;
    width: 100%;
    opacity: 1;
    top: 0;
  }
  to {
    height: 10vh;
    width: 10%;
    opacity: 0;
    top: -100%;
  }

  0% {
    border-bottom-left-radius: none;
  }

  20% {
    border-bottom-left-radius: 70% 60%;
  }

  100% {
    border-bottom-left-radius: 100% 60%;
  }
}

@keyframes item__surfacing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes link__surfacing {
  from {
    font-size: 10px;
    visibility: hidden;
  }
  50% {
    font-size: 22px;
    visibility: visible;
  }
}
